body {
    font-family: Arial, sans-serif;
}

h1, h3 {
    font-weight: 300; /* Set font-weight to light for h1 and h3 */
}

img {
    border: 5px solid #ddd;
}

/* Navbar items centered */
.navbar {
    text-align: center;
}