a.nav-link.active {
    color: #257bc0 !important;
}

svg:hover path {
    fill: #257bc0 !important;
    fill-opacity: .7!important
}

img {
    pointer-events: none;
}

p a {
    text-decoration: none;
    color: #257bc0 !important;
}