a.nav-link.active {
    color: #257bc0 !important;
}

a.social-link {
    color:#C5C5C5;
    font-size:1.2em;
}

a.social-link:hover {
    color: #257bc0 !important;
}

img {
    pointer-events: none;
}

p a {
    text-decoration: none;
    color: #257bc0 !important;
}

.blog-item a {
    color: black !important;
}

.blog-item a:hover {
    color: #257bc0 !important;
    text-decoration:underline dotted;
}

span.date {
    font-family: 'Courier New', monospace;
    color: #7e7e7e !important;
}

.card a {
    color: #257bc0 !important;
}